
.menu {
    width: 95%;
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 30px;
    line-height: 100%;
    border-radius: 0px;
    background: #8B8B8B;
    border: solid 0px #6D6D6D;
    position: relative;
}

    .menu li {
        margin: 0px 0px 0px 0px;
        padding: 0px 6px 0px 0px;
        float: left;
        position: relative;
        list-style: none;
    }

    .menu a {
        font-weight: bold;
        font-family: arial;
        font-style: normal;
        font-size: 16px;
        color: #E7E5E5;
        text-decoration: none;
        display: block;
        padding: 6px 20px 6px 20px;
        margin: 0;
        margin-bottom: 6px;
        border-radius: 0px;
    }


    .menu .active a, #menu li:hover > a {
        background-color: darkgray;
    }

.timeline ul {
    padding: 20px 0px 0px 0px;
    width: 2000px;
}

.timeline li {
    list-style: none;
    padding: 20px 20px 20px 20px;
    border: solid;
    border-width: 1px;

}

#container {
    position: relative;
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 20px;
    width: 1000px;
}

.tasks{
    position: absolute;
    top: 0px;
    left: 80px;
    width:2000px;
}

.task{
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 1166px;
    float:left;
    position:relative;
}

.task p{
    margin: 0px 0px 16px 0px;
}

.shift{
    border: 1px solid red;
    width:100%;
    position: absolute;

}






